@import url("../../common/default.css");
@import url("/images");


.employment_apply .title h1 { padding-bottom: 6px;}
.employment_apply .title p { padding-bottom: 22px;}
.employment_apply .emTable { 
    background: white; width: 1689px; height: 597px; top: 62px; 
    border-radius: 20px; box-shadow: 0px 6px 5px #d8d8d8;
}
/* 월 신청가능 지원금부터 전체 감싸는 디브 */
.employment_apply .employment_apply_content { 
    position: relative;
    width: 1689px; height: 627px; 
    /* border: 1px solid blue; */
}
/* 기본 바탕 */
.employment_apply .employment_apply_inner { 
    position: absolute;
    width: 1686px; height: 531px; top: 63px;
    /* border: 1px solid black; */
}
/* 버튼 감싸는 div */
.employment_apply .button_set {
    width: 100%;
    height: 51px; line-height:38px; float: left;  
    /* border: 1px solid coral; */
}
.employment_apply .button_set ul li:nth-child(1) {
    width: 505px; height: 51px;
    border-radius: 13px;
    background: white;
}
/* 월 신청가능 지원금 */
.employment_apply .button_set .apply_support {
    float: left; 
    width: 253px; height: 51px; line-height: 51px;
    color: white; background: #627c80;
    font-size: 17px; border-radius: 13px;
    text-indent: 39px;
    
}
.employment_apply .f5 {
    background: url('/images/employment_apply_button00.png') no-repeat 5px center transparent;
    text-indent: -999px;
    width: 31px; height: 27px;
}
/* 금액 */
.employment_apply .button_set .apply_support_money {
    float: right; width: 252px;
    border-radius: 0 13px 13px 0;
    color: #6195e4;
}
/* 금액 진한색 */
.employment_apply .button_set .apply_support_money span {
    font-size: 35px; color: #6195e4;
    font-weight:  bold;
    height: 51px; line-height: 51px;
    text-align: center;
    margin-left: 29px;
}

/* 사원정보불러오기 외 ul li*/
.employment_apply .button_set ul li { 
    float:left;
    list-style: none; 
    color: white; font-size: 15px;
}
/* 외부 버튼 */
.employment_apply .employment_button {
    width: 180px; height: 51px; line-height: 51px; border-radius: 10px;
    margin-left: 10px; font-size: 17px;
}
.employment_apply .card {
    background: url('/images/employment_apply_button01.png') no-repeat 10px center #bdbdbd;
    text-indent: 20px;
}
.employment_apply .folder {
    background: url('/images/salary_folder.png')no-repeat 19px center #bdbdbd;
    text-indent: 17px;
}
.employment_apply .page {
    background: url('/images/employment_apply_button03.png') no-repeat 28px center #bdbdbd;
    text-indent: 17px;
}
.employment_apply .send {
    background: url('/images/salary_send.png') no-repeat 27px center #bdbdbd;
    text-indent: 17px;
}
.employment_apply .apply_top {
    background:#b4b4b4; 
    height: 62px; border-radius: 30px 30px 0 0;
}

/* 월 신청가능 지원금 첫번째 li 두번째 li로 나눠야 하는지 한번 보기*/
.employment_apply .apply_top_left {
    float: left;
}
/* 일괄계산, 일괄신청 div */
.employment_apply .apply_top_right {
    float: right;
}
.employment_apply .apply_top_right ul li {
    float: left;
}
/* content top 사원명을 검색하세요 */
.employment_apply .apply_top_left .employment_input {
    width: 200px; border-radius: 0px;
    color: white; font-size: 19px;
    margin-left: 30px; margin-top: 16px;
    background: url('/images/search_button.png') no-repeat 175px center transparent;
    border: none;
    border-bottom: 1px solid white;
    text-indent: 2px;
}
/* input 안내문자 */
.apply_top_left .employment_input::placeholder {
    color: white;
}
/* 일괄계산, 일괄신청 button */
.employment_apply .apply_top_right li button {
    float: left;
    width: 130px; height: 33px; color: white;
    font-size: 17px; border-radius: 12px;
    background: url('/images/employment_apply_button04.png') no-repeat 16px 7px #828282;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1);
    margin: 16px 15px 0 0; text-indent: 21px;
}
.employment_apply .apply_top_right li button.white_button {
    background: url('/images/employment_apply_button05.png') no-repeat 16px 5px white;
    color: #6d6d6d; margin-right: 30px;
}
/* 기본바탕 전체 div */
.employment_apply .apply_bottom {
    /* border: 1px solid black; */
    background:white; height:468px; 
    border-radius: 0 0 30px 30px;
}
/* content 내용 */
.employment_apply .employment_apply_inner .apply_content {
    width: 1628px; height: 432px;
    margin: 0px auto;
}

.employment_apply .apply_content .content_bottom {
    width: 1628px; height: 393px;
    border-bottom: 1px solid black;
    overflow-y: scroll;
}
/* 스크롤 */
.employment_apply .content_bottom::-webkit-scrollbar {background: #e9e9e9; width: 9px; height: 363px; border-radius: 50px;}
.employment_apply .content_bottom::-webkit-scrollbar-thumb {background: #a2a2a2; width: 9px; height: 63px; border-radius: 50px;}
.employment_apply .content_bottom::-webkit-scrollbar-track {background: #e9e9e9; width: 9px; height: 300px;}

.employment_apply .apply_content .content_top {
    width: 1628px; height: 40px;
    border-radius: 10px 10px 0 0;
    background: #f5f3f4;
}
/* 성명 직책 입사일 등 */
.employment_apply .apply_content .content_top .header ul li {
    float: left;
    color: #818181; font-size: 17px;
    width: 140px; height: 40px; line-height: 40px;
    text-align: center;
}
/* header after */
.employment_apply .apply_content .content_top .header ul li::after {
    display: block;
    content: ""; background: rgba(112, 112, 112, 0.1);
    width: 1px; height: 31px;
    margin-top: -35px;
}
/* header after 첫번째 없앰 */
.employment_apply .apply_content .content_top ul li:nth-child(1)::after {
    display: inline;
}
.employment_apply .apply_content .content_top .header ul li:nth-child(1) {
    width: 140px;
}
.employment_apply .apply_content .content_top .header ul li:nth-child(2) {
    width: 124px;
}
.employment_apply .apply_content .content_top .header ul li:nth-child(3) {
    width: 143px;
}
.employment_apply .apply_content .content_top .header ul li:nth-child(4) {
    width: 119px;
}
.employment_apply .apply_content .content_top .header ul li:nth-child(5) {
    width: 797px;
}
.employment_apply .apply_content .content_top .header ul li:nth-child(6) {
    width: 151px;
}
.employment_apply .apply_content .content_top .header ul li:nth-child(7) {
    width: 153px;
}
/* body */
.employment_apply .apply_content .content_bottom .body ul li {
    float: left;
    color: #6b6b6b; font-size: 16px;
    width: 125px; min-height: 96px; line-height: 96px;
    /* margin: 54px 39px; */
    /* text-align: center; */
    border-bottom: 1px solid #f5f3f4;
    text-align: center;
    /* box-shadow: 0px 6px 5px #d8d8d8; */
}



.employment_apply .apply_content .content_bottom .body ul {
    box-shadow: 4px 6px 10px #f5f3f4; min-height: 96px;
}

/* 성명 */
.employment_apply .apply_content .content_bottom .body ul li:nth-child(1) {
    width: 140px;
}
/* 직책 */
.employment_apply .apply_content .content_bottom .body ul li:nth-child(2) {
    width: 123px;
}
/* 입사일 */
.employment_apply .apply_content .content_bottom .body ul li:nth-child(3) {
    width: 144px;
}
/* 나이 */
.employment_apply .apply_content .content_bottom .body ul li:nth-child(4) {
    width: 121px;
}
/* 지원가능지원금 */
.employment_apply .apply_content .content_bottom .body ul li:nth-child(5) {
    width: 796px;
}
.employment_apply .body ul li:nth-child(5) > div:nth-child(1) {
    float: left; width: 322px;
}
/* 청년고용장려금 앞에 아이콘*/
.employment_apply .body ul li:nth-child(5) > div:nth-child(1) div:nth-child(1) {
    height: 48px; line-height: 48px;
    background: url('/images/employment_apply_button06.png')no-repeat 94px 21px transparent;
}
/* 청년고용장려금 밑줄*/
.employment_apply .body ul li:nth-child(5) > div:nth-child(1) div:nth-child(1)::after {
    display: block;
    content: "";
    width: 153px; height: 1px; background: #c7c7c7;
    margin-left: 240px; margin-top: -23px;
}
.employment_apply .body ul li:nth-child(5) > div:nth-child(1) div:nth-child(2) {
    height: 45px; line-height: 27px; color: #a2a2a2;
}
/* 일자리안정자금 중복지원*/
.employment_apply .body ul li:nth-child(5) > div:nth-child(1) div:nth-child(2)::after {
    display: block;
    content: "중복지원X"; color: white;
    width: 85px; height: 22px; line-height: 22px;
    background: #d1d1d1; border-radius: 15px;
    margin-left: 219px; margin-top: -24px;
}
.employment_apply .body ul li:nth-child(5) > div:nth-child(2) {
    float: left; width: 414px;
}
/* 2020.04.13부로 가능 */
.employment_apply .body ul li:nth-child(5) > div:nth-child(2) div:nth-child(1){
    float: left; width: 302px;
}
.employment_apply .body ul li:nth-child(5) > div:nth-child(2) div:nth-child(1)::after {
    display: block;
    content: "지원가능"; color: white;
    width: 85px; height: 22px; line-height: 22px;
    background: #9fc8e8; border-radius: 15px;
    margin-left: 229px; margin-top: -57px;
}
/* 월 40만원 */
.employment_apply .body ul li:nth-child(5) > div:nth-child(2) div:nth-child(2){
    float: left; width: 108px;
}

/* 지원가능총액 */
.employment_apply .apply_content .content_bottom .body ul li:nth-child(6) {
    width: 152px;
}
/* 확인 */
.employment_apply .apply_content .content_bottom .body ul li:nth-child(7) {
    width: 143px;
}

.employment_apply .apply_content .content_bottom .body a {
    display: block;
    width: 83px; height: 30px; line-height: 30px;
    color: white; background: #d6d6d6;
    font-size: 16px; border-radius: 11px;
    margin-top: 33px; margin-left: 30px;
}
/* 팝업 */
.employment_apply .document_popup_inner {
    width: 760px; height: 495px;
    background: white;
    border-radius: 20px; box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
    padding-top: 20px;
} 
/* 팝업 title */
.employment_apply .document_popup .title { margin-left: 28px;}
.employment_apply .document_popup .title h1 {font-size: 24px; color: #4a4a4a; padding-bottom: 3px;}
.employment_apply .document_popup .title p {font-size: 17px; color: #555555; padding-bottom: 3px;}

.employment_apply .em_popup_header {
    background: #f5f3f4;
    width: 714px; height: 42px; line-height: 42px;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
}
.employment_apply .em_popup_header ul li {
    float: left;
    color: #4a4a4a; font-size: 17px;
    text-align: center;
}
.employment_apply .em_popup_header ul li:nth-child(1) {
    width: 224px;
    /* border: 1px solid black; */
}
.employment_apply .em_popup_header ul li:nth-child(2) {
    width: 488px;
    /* border: 1px solid black; */
}
.employment_apply .em_popup_body {
    background: white;
    width: 714px; height: 326px;
    border-radius: 0 0 15px 15px;
    margin: 0 auto;
    /* border: 1px solid black; */
    overflow-y: scroll;
}
/* 팝업 스크롤 */
.employment_apply .em_popup_body::-webkit-scrollbar {background: #e9e9e9; width: 9px; height: 363px; border-radius: 50px;}
.employment_apply .em_popup_body::-webkit-scrollbar-thumb {background: #a2a2a2; width: 9px; height: 63px; border-radius: 50px;}
.employment_apply .em_popup_body::-webkit-scrollbar-track {background: #e9e9e9; width: 9px; height: 300px;}

/* 팝업 취업규칙 li */
.employment_apply .em_popup_body ul li {
    width: 700px; height: 113px; line-height: 113px;
    border-bottom: 1px solid #dddddd;
}
.employment_apply .em_popup_body .popup_button button {
    float: left;
    width: 206px; height: 96px; line-height: 96px;
    background: #cccccc; color: white;
    font-size: 24px; font-weight: bold;
    border-radius: 15px;
    margin: -3px 10px 0 10px;
}
/* .employment_apply .em_popup_body .left_content {
    float: left;
} */
.employment_apply .em_popup_body .right_content {
    float: right;
}