@import url("../../common/default.css");
@import url("/images");


.salary .title h1 {padding-bottom: 25px;}
.salary .salary_inner { /* 귀속연월부터 끝까지 감싸는 디브 */
    position: relative;
    width: 1689px; height: 627px; 
}
.salary .sal_date_left {
    background: #799093; border-radius: 10px;
    width: 363px; height: 38px; line-height:38px; float: left;  
}
.salary .sal_date_left input {
    width: 90px; height: 20px; line-height: 20px;
    color: white; font-size: 14px; font-weight: bold;
    background: transparent; border: none; border-bottom: 1px solid white;
    border-radius: 0px; text-indent: 3px;
    margin-left: 5px;
}
.salary .sal_date_left select {
    width: 90px; height: 20px; line-height: 20px;
    color: white; font-size: 14px; font-weight: bold;
    background: transparent; border: none; border-bottom: 1px solid white;
    border-radius: 0px;
}
.salary .sal_date_left ul li { 
    float: left; text-align: center; color: white; font-size: 15px; 
    list-style-type: disc; margin-left: 35px;
}
.salary .white_board { 
    position: absolute;
    width: 1689px; height: 565px; top: 55px;    
}
.salary .left_div{
    float: left;
    width: 690px; height: 565px;
    border-radius: 20px; 
    background: white;
    box-shadow: 0px 6px 5px #d8d8d8;
}
.salary .right_div {
    float: left;
    width: 979px; height: 565px;
    border-radius: 20px;
    margin-left: 20px;
    background: white;
    box-shadow: 0px 6px 5px #d8d8d8;
}
.salary .left_div_inner{
    width: 662px; height: 565px;
    margin: 0 auto;
}
.salary .right_div_inner {
    width: 945px; height: 565px;
    margin: 0 auto;
} 
.salary .left_div_inner .div_grid {
    position: absolute;
    margin: 0 auto;
    margin-top: 52px;
    width: 662px; height: 490px;
}
.salary .right_div_inner .div_grid {
    position: absolute;
    margin-top: 52px;
    width: 945px; height: 490px; 
    text-align: center;
    overflow:hidden;
}
.salary .right_div_inner .div_grid .txt_nodata{
    width:100%;
    height:100%;
    line-height:490px;
    font-size:30px;
    font-weight:bold;
}
.salary .left_div_inner .div_top01 {
    float: left; position: relative;
    width: 690px; height: 51px; line-height: 56px;
    border-radius: 10px 10px 0 0; 
    color: #626262; font-size: 15px;
}
.salary .right_div_inner .div_top02 {
    float: left;
    width: 690px; height: 51px; line-height: 56px;
    border-radius: 10px 10px 0 0; 
    color: #626262; font-size: 15px;
}
.salary .left_div_inner .div_top01 .button_set {
    position: absolute;
    top: 0px; right: 28px;
}
.salary .left_div_inner .div_top01 .btn_gray {
    width: 163px; height: 22px; line-height: 22px;
}
.salary .right_div_inner .div_top02 .button_set {
    position: absolute;
    top: 0px; right: 15px;
}
/* 출력 및 발송 버튼 */
.salary .right_div_inner .div_top02 .btn_gray {
    width: 180px; height: 22px; line-height: 22px;
}
.salary .right_div_inner .div_top02 .btn02 {
    width: 110px;
    margin-left: 10px;
}
/* 조회 */
.salary .btn01 {
    right: 14px;
    background: white;
    color: #626262;
    margin-left: 90px;
    margin-top: -1px;
}

/* vertical table */
.salary .table_left_box{
    display:none;
}
.salary .table_left_wrap{
    width:100%;
    height:100%;
    overflow:auto;
    font-size:16px;
    position: relative;
}
.salary .table_left_wrap{
    
}
.table_left_header_overflow{
    width: 18%;
    height: 481px;
    margin-bottom: 5%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    font-size:16px;
}
.table_left_header_overflow::-webkit-scrollbar {
    display:none;
}
.salary .table_left_header{
    width:100%;
    overflow:hidden;
    position:absolute;
    background-color:#F5F3F4;
    border-radius:20px 0 0 20px;
    left:0;
    top:0;
    z-index:1;
}
.salary .table_left_header_group{
    width:98%;
    position: relative;
    overflow:hidden;
    box-sizing: border-box;
    border-bottom:1px solid #B7B7B7;
    margin-left:2%;
}
.salary .table_left_header_group:last-child{
    border-bottom:0 none;
}
.salary .table_left_header_group:not(:first-child) .table_left_header_title > li:first-child{
    height:39px;
}
.salary .table_left_header_rowspan{
    width:30%;
    height:30px;
    line-height:30px;
    position: absolute;
    top: calc(50% - (30px/2));
}
.salary .table_left_header_title{
    width:70%;
    overflow:hidden;
    margin-left: 30%;
    border-left: 1px solid #B7B7B7;
    box-sizing: border-box;
}
.salary .table_left_header_title > li {
    width:100%;
    height:40px;
    line-height:40px;
}
.salary .table_left_header_title > li > span{
    display:block;
    width:95%;
    height:100%;
    margin-left:5%;
    border-top:1px solid #B7B7B7;
    box-sizing: border-box;
    padding-right:5%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}
.salary .table_left_header_title > li:first-child > span{
    border-top:0 none;
}
.salary .table_left_content{
    margin-left:18%;
    overflow:hidden;
}
.salary .table_left_content > li{
    min-width:120px;
    overflow: hidden;
    float:left;
    border-right:1px dotted #B7B7B7;
    box-sizing:border-box;
}
.salary .table_left_content ul{
    width:100%;
    overflow:hidden;
}
.salary .table_left_content ul li{
    height:40px;
    line-height:40px;
}
.salary .table_left_content ul li:first-child > span{
    border-top:0 none
}
.salary .table_left_content ul li span{
    display:block;
    width:100%;
    height:100%;
    border-top:1px dotted #B7B7B7;
    box-sizing: border-box;
}
.salary .table_left_wrap_overflow{
    width:100%;
    height:100%;
    overflow:hidden;
}